.card-episode{ 
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    
    

}

.card-episode img{
    width: 150px;
    height: 100%;
    margin-right: 15px;
    border-radius: 5px;

}

.episod-info p{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(213, 213, 213);
    text-decoration: none;
    

}

.episod-info .icon-duration{
    width: 13px;
    height: 13px;
    margin-right: 10px;
 
}

.card-episode:hover h4{
    color: orange;  
    border-radius: 5px;
}
 
.link-remove-line{
    text-decoration: none;
}

 

 