
.background{
    width: 100%;
    height: 100vh;
    object-fit: fill;
    position: relative;
}

 

.cover_movie img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid white;

}

.cover_movie{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.container{
    position: absolute;
    top: 80px;
    left: 20px;
    display: flex;
}

.container-content{
    margin-left: 20px;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
 
}

.card-watch-trailer{
    display: flex;
    gap: 20px;
}

.watch-button{
    background: linear-gradient(90deg, rgb(21, 21, 49) 0%, rgb(41, 62, 159) 55%);
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
}

.watch-button:hover{
    background: orange;
    
}
 