

/* NavHome */
.nav-home{
    background: var( --secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-home ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-home ul li {
   cursor: pointer;
}

.link-text{
    text-decoration: none;
}
.nav-home ul li:hover{
    color:var(--accent-color)
}

/* === NavHome === */

