
.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-inputs{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-inputs label{
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 15px;
}

.card-inputs input{
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: black;
}
 

.card-inputs button{
    height: 45px;
    margin-top: 20px;
    background-color: rgba(255, 166, 0, 0.442);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold; 
    font-size: 18px;
    cursor: pointer;

}

.card-inputs button:hover{
    background-color: orange;
}