
.season-page .background{
    width: 100%;
    height: 100vh;
    object-fit: fill;
    position: relative;
    overflow: unset;
}

.season-page .container{
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 20px;
    display: flex;

}

/* Card Seasons */
.list-seaons{
    flex: 1;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list-seaons li{
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    

}

.list-seaons li hr{
    background-color: orange;
    margin-right: 15px;
    border: 2px solid orange;


}

.list-seaons li:hover{
    color: orange;
}




/* Card Episode */
.list-episodes{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    flex: 2;
    overflow: scroll;
}



